// Add custom scss
@import './custom.scss';

body {
  overscroll-behavior: none;
}

a {
  color: black;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  & li {
    list-style-type: none;
  }
}

header .legal {
  text-align: center;
  font-size: 0.75rem;
}

footer .copyright {
  text-align: center;
  font-size: 0.75rem;
  color: var(--bs-gray-600);
}

.imprint,
.data-pd {
  text-align: left;
}
